* {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body{
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 60px;
}

.card{

  background: black;
  border: 1px solid gray;
  border-radius: 6px;
  color: white;
  margin: 15px;
}

.card:hover{
  border: white 5px solid;
}

.card p {
  padding: 5px;
  text-align: center;
}
.card-grid{
  /* background: chartreuse; */
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 0px 10px;
}

.card-grid::-webkit-scrollbar {
  width: 7px;
}
.card-grid::-webkit-scrollbar-thumb{
  background: rgb(255,255,255, 0.4);
  border-radius: 5px;;
}
.card img{
  max-height: 170px;
}
#colorFondo{
  color: white;
  background: transparent;
  border: white 2px solid;
  padding: 5px 10px;
  border-radius: 10px;
}
.contenedor{
  display: flex;
  align-items: center;
}
#gifExpert{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.img-icon:hover{
  transform:scale(1.10);
}

h2 {
  color: white;
}
h3{
  color: white;
  padding: 0px 105px;
}
input{
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 25px;
  margin: 15px auto;
  padding: 0px 20px;
  width: 50%;
}
ol{
  padding: 0px;
}
@media (max-width: 800px) {
  body{
    padding: 20px;
  }
  input{
    width: 70%;
  }
  img.img-icon {
    display: none;
  }
}